@media only screen and (max-width : 780px){

	#rList{
		padding-top:27% !important;
	}

	#videoInfo,#videoInfo2{
		min-width: 100%;

	}

	#searchTerm{
		max-width:35%;
	}

	#vidDesc2{
		display: none;
	}




}

#youLogo{
	height:100;
	width: 120;
}

#searchButton {
	height : 30;
	width:70;
}

#searchTerm{
	width:55%;
}

#videoName {
	font-size:18;
	font-weight:700
}

#channelInfo {
	padding-top:10;
}



#channelPic {
	height:50;
	width:60;
	float:left;
}

#cName {
	float:left;
	font-weight:500;
	padding-left: 5;
}

#viewCount{
	float:right;
	font-size:14;

}

#publishedAt{
	padding:10;
}

#vidDesc{
	padding:10;
	width: 100%;
}

#videoInfo {
	padding-bottom:10;
	margin-top:18;
	background-color:white;
	width: 100%;
	float:left;
}

#videoInfo2{
	margin-top:18;
	width: 100%;
	background-color:white;
	float:left;
}

